
.page-content {    
}

.xwiki-iframe {
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.pageitem-name {
    font-size: 70%;
}

.pageitem-modified {
    font-size: 70%;
}